# if

In [1]:
255/2

127

In [3]:
name='nav'
if name=="nav":
    print "hello"
print "my name is ",name, "2"

hello
my name is  nav 2

## else if ladder

In [4]:
a=5#3,5,7
if a>5:
    print "greather than five"
elif a==5:
    print "equal to 5"
else :   
    print "less than 5"

equal to 5

In [5]:
total=1+2+3.4+6*5
party=3
if party >=4:
    total=total+total*.1
    print"total equal",total
else:    
    print "total equal",total

total equal 36.4

# try and except for error handling

In [13]:
a=5
a**=2
a

25

In [4]:
b=8
try:
    c=b*b   
    c=c+1 
    c=b/0 #comes out of the loop
    c=c+2
except:
    print "dont do that"
c

dont do that

65

In [15]:
a="apple: "
print a, #use of coma operator 
print "$1.99/kg"

apple:  $1.99/kg

In [16]:
len(a),type(a)

(7, str)

In [19]:
b='my name is naveen'

In [21]:
b.upper() #converting into uppercase

'MY NAME IS NAVEEN'

In [22]:
b.capitalize()#captial

'My name is naveen'

In [23]:
b.title()

'My Name Is Naveen'

In [24]:
b1="blue" 
a+b1 #combining two strings

'apple: blue'

In [29]:
a='naveen'
b='jr '
c=a+b;
c1=a+" "+b
c1

'naveen jr '

In [12]:
c1 * 5  #repeating same string

'naveen jr naveen jr naveen jr naveen jr naveen jr '

In [12]:
s='5'
s*10

'5555555555'

In [1]:
print"a\rb\rc\r" #newline

c

In [14]:
print"a\tb\tc" #tab operation

a	b	c

# proecessing input and output

In [33]:
a=input()  #inputing fuction ex=5,cen

'cen'

In [25]:
type(a)

str

In [37]:
name=raw_input("give me your key: ") #taken as string of data of differnt type

give me your key: cen+123

In [38]:
name

'cen+123'

In [ ]:
from easygui import passwordbox
password = passwordbox("What is your password ?")

In [ ]:
password

# cleaning up user input

In [ ]:
year =raw_input("enter the date of birth")
if len(year)!=4 or not year.isdigit() :
    print("sorry,i dont like that no")
else :
    print ("move on")

# white space removing

In [45]:
town=raw_input("enter town name ")
town1=town.strip() #strip operator

enter town name   naveen

In [46]:
town

'  naveen  '

In [47]:
town1

'naveen'

# list

In [48]:
fruit=['apple',"grape",'orange']
fruit

['apple', 'grape', 'orange']

In [23]:
fruit[0] #acccesing an element from list

'apple'

In [52]:
numb=[1,2,3,5,1,7,8,1]
numb.count(1) #no of occrance of an element

3

In [55]:
fruit.count('apple')

1

In [29]:
'1'in numb # 1 is charactor type

False

In [30]:
1 in numb #logical operator

True

In [61]:
numb2=[1,2 ,13,14,15]
numb.extend(numb2) #extending two lists
numb

[2, 3, 5, 7, 8, 1, 1, 2, 13, 14, 15]

In [62]:
numb.remove(1) # remove operator

In [63]:
numb

[2, 3, 5, 7, 8, 1, 2, 13, 14, 15]

In [75]:
numb.insert((len(numb)-1),'naveen') # (position,elements to be insert)

In [76]:
numb

[2, 3, 5, 7, 8, 1, 2, 13, 14, 'naveen', 15, 'naveen', 'naveen']

In [70]:
a=[1,2,3,4]
b=[4,5,6]
a+b #combining two list

[1, 2, 3, 4, 4, 5, 6]

In [34]:
a*5 #reapeating same list

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

## ordering list

In [84]:
c=['a2','a1','hiransha']
c.reverse()

In [85]:
c

['hiransha', 'a1', 'a2']

In [86]:
c.sort() #sort accodig to the alphabetical order
c

['a1', 'a2', 'hiransha']

## real world example

In [87]:
k=['class1','class2','class3','class4']
print "welcome"
class_room = raw_input("enter the class u want :")
if class_room in k:
    print"the class is available"
else:
    print"the class is not available"

welcome
enter the class u want :class1
the class is available