## loops

In [1]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
range(10,10)

[]

In [5]:
range(-25,-20) #range(satrtno,endno)

[-25, -24, -23, -22, -21]

In [1]:
range(5,25,2)  #range(startno,endno,stepsize)

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [1]:
for i in  range(5): #example 1
    print i

0
1
2
3
4

In [18]:
for year in range(1980,1990): #example2
    print "in the {} {}..year".format(year,year)

in the 1980 1980..year
in the 1981 1981..year
in the 1982 1982..year
in the 1983 1983..year
in the 1984 1984..year
in the 1985 1985..year
in the 1986 1986..year
in the 1987 1987..year
in the 1988 1988..year
in the 1989 1989..year

## continue

In [20]:
numbers=[5,2,1,0,10,20,30]
for no in numbers: # no is variable in the for loop
    if no==0:
        print("ugh,u gave me zero")
        continue
    new_no=100.0/no
    print"100/{}={}".format(no,new_no) #ouput arranging format

100/5=20.0
100/2=50.0
100/1=100.0
ugh,u gave me zero
100/10=10.0
100/20=5.0
100/30=3.33333333333

# break

In [7]:
cart=[50.5,45,98.96,99.99,20]
for item in cart:
    print item
    if item > 100 :
        print"you are going to require insurance  for this order"
        break;
else:
    print"no insurance required"

50.5
45
98.96
99.99
20
no insurance required

In [8]:
cart=[50.5,45,98.96,901,1.99,20]
for item in cart:
    print item
    if item > 100 :
        print"you are going to require insurance  for this order"
        break;
else:
    print"no insurance required"

50.5
45
98.96
901
you are going to require insurance  for this order

# Repeating only when the condition is true

## while

In [21]:
age=raw_input("enter your age(eq:30)")
while not age.isdigit():
    print"the age {} is not in above mentioned format".format(age)
    age=raw_input("enter your age(eq:30)")
    print"thanks!,your age is {}".format(age)

enter your age(eq:30)23 years
the age 23 years is not in above mentioned format
enter your age(eq:30)23
thanks!,your age is 23

## infinite loop

In [22]:
while True:
    word=raw_input("enter a word i will count no of'e'in that and type 'q' to quit: ")
    if word=='q':
        break
    print word.count('e')

enter a word i will count no of'e'in that and type 'q' to quit: naveen
2
enter a word i will count no of'e'in that and type 'q' to quit: cen
1
enter a word i will count no of'e'in that and type 'q' to quit: q

# function concept

In [24]:

def hello(name,dep):
    print"hi {} ,".format(name),
    print"welcome to {}".format(dep)
hello('naveen','CEN')

hi naveen , welcome to CEN

In [25]:
def print_tota(name1,items):
    print"Total for {} is".format(name1)
    total=0
    for item in items:
        total=total+item
    print total
print_tota('naveen',[1,2,5,3.89,4.89])

Total for naveen is
16.78

## setting a default value in function

In [29]:
def name2(first,last,middle=''):#default should define in last parameter passing
    print "welcome ,{} {} {}!".format(first,middle,last)
    print "enjoy your stay"
name2(first='naveen',last='j r')

welcome ,naveen  j r!
enjoy your stay

In [32]:
name2('sachin','tendulkar','ramesh')
a = "blah {}{}{}".format(1,2,3 )
print a

welcome ,sachin ramesh tendulkar!
enjoy your stay
blah 123

### returning values

In [17]:
def getsqure_cube(no):
    squre=no**2
    cube=no**3
    return squre,cube #return can return more than one value (just sepate them by commas)
val=getsqure_cube(9)
val

(81, 729)

In [38]:
s,c=getsqure_cube(9)

In [40]:
s,c

(81, 729)

In [41]:
c

729

## parameter and scope

In [43]:
#here the original no is stored in x,isn't changed after the function call .only a copy was sent to the function
x=5
def add_five(no):
    no+=5
    print no
add_five(x)

10

In [44]:
x #value of x is not changed

5

In [46]:
def print_no(n):
    print n
    n=n-1
    if n>0:
        print_no(n)
    n=n+1
    print n
print_no(4)

4
3
2
1
1
2
3
4

## dictionary

In [7]:
states={'a':'kerala','b':'tamil nadu','B':'delhi'} #{key:value pair}
type(states)
states[9]='goa'
states['b']

'tamil nadu'

In [57]:
states.pop('B') #removing dictionary key =pop operation

'delhi'

In [58]:
states

{9: 'goa', 'a': 'kerala', 'b': 'tamil nadu'}

In [1]:
holidays={'october':['gandhi jayandhi','second saturday']} #using list types as value
type(holidays)

dict

In [2]:
holidays

{'october': ['gandhi jayandhi', 'second saturday']}

In [60]:
#dictionary comparision
d1={1:'one',2:'two',3:"three"}
d2={1:'one',2:'two',3:"three"}
d3={1:'one',3:"three",2:'two'}
d1==d2 #exactly same dictionaries

True

In [61]:
d1==d3 #same but order is different

True

In [62]:
states.keys()

['a', 9, 'b']

# classes

In [68]:
class myclass(object):
    a=5
    b=10
    c='hello'
nav=myclass ()

In [69]:
nav.a

5

In [70]:
nav.a=10 #creating a blueprint

In [71]:
nav.a

10

In [72]:
viv=myclass() #creating another blueprint
viv.a

5

In [78]:
class myclass(object):
    a=5
    b=10
    c='hello'
    def print1(self):
        print "hello is a: {}".format(self.b)
myobject=myclass()
myobject.print1()

hello is a: 10

In [81]:
viv=myclass()
viv.d=10
viv.d

10

In [87]:
class myschool(object):
    name=''
    adress=''
    department='CEN'
    def print1(self):
        print self.name
        print self.adress
        print "DEP:"+self.department
student1=myschool()
student2=myschool()

In [88]:
student1.name='NAV'
student1.adress='coimbatore'

In [89]:
student2.name='VINEETH'
student2.adress='pala'
student2.department='VLSI'

In [90]:
student1.print1()

NAV
coimbatore
DEP:CEN

In [92]:
student2.print1()

VINEETH
pala
DEP:VLSI

# the _init_() Function

In [44]:
#another implementation
class student(object) :
    def __init__(self,name="",grade="",dept="CEN"):
        if not name:
            name=raw_input("enter name ?  ")  
        if not grade:
            grade=self.get_grade()
        self.dept=dept
        self.name=name
        self.grade=grade
    def get_grade(self):
        while True:
            grade=raw_input("What is student's Grade? [O,A+,A,B+,B,C,P]   ")
            return grade
student1=student()
student2=student(name="HARI",grade="A",dept="Eletronics")

enter name ?  hiransha
What is student's Grade? [O,A+,A,B+,B,C,P]   O

In [45]:
student1.grade

'O'

In [46]:
student1.dept

'CEN'

In [47]:
student1.name

'hiransha'

In [48]:
student2.dept

'Eletronics'

In [2]:
range(0,255,1)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254]